
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Completed Checkout</h4>
    <hr />
    <p>Thanks for ordering with us, Pay at the cinema</p>
</div>
<br/>
<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
    

</div>