
@{
    ViewBag.Title = "AdminAction";
}

<h3>Welcome Admin</h3>
<h4>Please select:</h4>
<br />



@Html.ActionLink("Add/Edit/Delete Movies ", "Index", "Movies")
<br />
@Html.ActionLink("Add/Edit/Delete Sessions ", "Index", "Sessions")

